.button {
  display: inline-flex;
  align-items: center;
  column-gap: 8px;
  padding: 11px 20px;
  color: var(--color-white);
  background-color: var(--color-black);
  border: var(--border);
  border-radius: var(--border-radius-xs);

  @include hover {
    color: var(--color-black);
    background-color: var(--color-white);
  }

  @include tablet {
    padding: 8px 16px;
  }
}
