.burger-button {
  @include flex-center(true);
  @include square(44px);

  row-gap: 50px;
  background-color: transparent;
  border: none;

  &.is-active {
    .burger-button__line {
      stroke-dasharray: 90 207;
      stroke-dashoffset: -134;

      &--2 {
        stroke-dasharray: 1 60;
        stroke-dashoffset: -30;
      }
    }
  }

  &__line {
    transition:
      stroke-dasharray var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
    fill: none;
    stroke: var(--color-black);
    stroke-width: 8;
    stroke-linecap: round;
    stroke-dasharray: 60 207;

    &--2 {
      stroke-dasharray: 60 60;
    }
  }
}
