.section {
  padding-block: var(--padding-y);

  &--black {
    max-width: 1600px;
    margin-block: fluid(60, 40) fluid(30, 20);
    margin-inline: auto;
    padding-block: fluid(80, 60) fluid(100, 40);
    color: var(--color-white);
    background-color: var(--color-black);
  }

  &__inner {
    display: grid;
    row-gap: fluid(80, 40);
  }

  &__header {
    text-align: center;
  }
}
