.hero {
  padding-block: var(--padding-y);

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: end;
    column-gap: var(--gap);

    @include mobile {
      flex-direction: column-reverse;
      align-items: center;
      row-gap: 48px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: var(--gap);

    @include mobile {
      text-align: center;
    }

    @include mobile-s {
      text-align: start;
    }
  }

  &__text {
    display: grid;
    row-gap: var(--gap);
    max-width: 600px;
  }

  &__socials {
    padding-top: 74px;

    @include mobile {
      margin: auto;
      padding: 0;
    }

    @include mobile-s {
      margin: 0;
    }
  }

  &__image {
    min-width: 40%;
    border-bottom: var(--border);

    @include mobile {
      width: fluid(300, 285);
      height: 332px;
    }
  }
}
