html {
  &.is-lock {
    overflow: hidden;
  }
}

body.no-scroll {
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base), sans-serif;
  font-size: 16px;
  color: var(--color-black);
}

h1,
.h1 {
  @include fluid-text(48, 28);

  font-weight: 400;
}

h2,
.h2 {
  @include fluid-text(32, 20);

  font-weight: 800;
}

h3,
.h3 {
  @include fluid-text(28, 24);

  font-weight: 600;
}

h4,
.h4 {
  @include fluid-text(24, 20);

  font-weight: 600;
}

h5,
.h5 {
  font-size: 20px;
  font-weight: 600;
}

h6,
.h6 {
  @include fluid-text(20, 18);

  font-weight: 600;
}

p {
  color: var(--color-accent);
}

b {
  font-weight: 800;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: var(--color-accent);
  }

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  @include focus-visible;
}
