:root {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-accent: #71717a;

  --color-gray: #d4d4d8;
  --color-gray-black: #27272a;

  --shadow: 0px 5px 10px 5px rgba(143, 143, 143, 0.75);

  --border: var(--border-width-m) solid var(--color-black);

  --border-width-m: 2px;
  --border-width-s: 1px;

  --border-radius-l: 20px;
  --border-radius-m: 18px;
  --border-radius: 10px;
  --border-radius-xs: 4px;

  --font-family-base: 'Sora';

  --gap: 32px;

  --container-width: #{fluid-to-laptop(
      $container-desktop-width,
      $container-laptop-width
    )};
  --container-padding-x: 16px;

  --padding-y: #{fluid(30, 20)};

  --transition-duration: 0.2s;
}
