.about {
  padding-block: var(--padding-y);

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 40px;

    @include tablet {
      flex-direction: column;
      align-items: center;
    }
  }

  &__image {
    width: fluid(525, 343);
    height: fluid(574, 374);
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    max-width: 572px;
  }
}
