.icon {
  --iconSize: 20px;

  @include square(var(--iconSize));

  display: inline-flex;
  border: none;

  &--middle {
    --iconSize: 32px;
  }

  &--big {
    --iconSize: 56px;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}
