.header {
  padding-block: fluid(24, 18);

  &__inner {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    column-gap: 16px;

    @include mobile {
      display: flex;
      justify-content: space-between;
    }
  }

  &__overlay-menu-dialog {
    position: fixed;
    inset: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 48px;
    width: 100%;
    height: 100%;
    padding: var(--container-padding-x);
    border: none;

    @include mobile-above {
      display: contents;
    }

    @include mobile {
      &[open] {
        display: flex;
      }
    }
  }

  &__menu {
    @include mobile {
      overflow-y: auto;
      display: flex;
      justify-content: center;
      border-radius: 0;
    }

    &-list {
      display: flex;
      align-items: center;
      gap: var(--gap);

      @include tablet {
        column-gap: 16px;
      }

      @include mobile {
        flex-direction: column;
        row-gap: var(--gap);
        margin-block: auto;
      }
    }

    &-link {
      color: var(--color-black);

      @include hover {
        color: var(--color-gray);
      }

      @include tablet {
        font-size: 18px;
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    column-gap: 10px;

    @include mobile-above {
      justify-content: end;
    }
  }

  &__burger-button {
    position: relative;
  }
}
